<!-- content start -->
	<div id="wrapper">
		<div id="content">
			<div class="clearfix">
				<h1><h1>添加新属性</h1></h1>
			</div>
			<br />
			<div class="cl"></div>
			
			<form enctype="multipart/form-data" method="post"  action="">
			<fieldset>
				<legend>属性 -- 添加新属性</legend>
				<table id="tableviewer" border="0" class="formtable">
					<colgroup>
						<col width="120" />
						<col width="auto" />
					</colgroup>
					<tr>
						<td class="tr">属性名称：</td><td><input type="text" name="name"><td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><input type="submit" value="添加分类"><input type="hidden" name="isAttrSubmit" value="1"></td>
					</tr>

				</table>
			</fieldset>
			</form>
			
		</div>
	</div>
<!-- content end -->
<script language="javascript">
</script>