<!-- content start -->
	<div id="wrapper">
		<div id="content">
			<div class="clearfix">
				<h1 class="fl">
				管理 
				&nbsp;&nbsp;>&nbsp;&nbsp;后台用户
				</h1>
				<div class="ctrlbar fr">
					<a class="v13-button-secondary fr addpromBtn" href="/user?action=addAction">
						<span class="v13-icon-add"></span>添加后台用户
					</a>
				</div>
			</div>
			<br />
			<div class="datatable">
				<div class="datatableHeader">
				</div>
				<div id="TablePanel" class="datatablecontent">
					<table id="tableviewer" width="100%" border="0">
						<colgroup>
							<col width="5%" />
							<col width="15%" />
							<col width="20%" />
							<col width="10%" />
							<col width="10%" />
							<col width="10%" />
							<col width="auto" />
						</colgroup>
						<tbody>
							<tr class="title">
								<th class="tc">ID</th>
								<th>用户名</th>
								<th>email</th>
								<th>角色</th>
								<th>所属渠道</th>
								<th>状态</th>
								<th class="tc">操作</th>
							</tr>
							<!--{if $assign.page.items}-->
								<!--{foreach key=key item=item from=$assign.page.items}-->
								<tr>
									<td class="tc"><!--{$item.id}--></td>
									<!--{if $item.id == DEFAULT_ADMIN_USER}-->
									<td><!--{$item.name}--></td>
									<td><!--{$item.email}--></td>
									<td><!--{$assign.role[$item.role_id]}--></td>
									<td><!--{$assign.arr_chncode[$item.chncode]}--></td>
									<td><!--{if $item.status == 1}-->有效<!--{elseif $item.status == 0}-->无效<!--{/if}--></td>
									<td class="tc">
										默认超级管理员无法对其编辑，如有问题请联系技术人员！
									</td>
									<!--{else}-->
									<td><a href="user?action=modifyAction&id=<!--{$item.id}-->"><!--{$item.name}--></a></td>
									<td><a href="user?action=modifyAction&id=<!--{$item.id}-->"><!--{$item.email}--></a></td>
									<td><a href="user?action=modifyAction&id=<!--{$item.id}-->"><!--{$assign.role[$item.role_id]}--></a></td>
									<td><a href="user?action=modifyAction&id=<!--{$item.id}-->"><!--{$assign.arr_chncode[$item.chncode]}--></a></td>
									<td><!--{if $item.status == 1}-->有效<!--{elseif $item.status == 0}-->无效<!--{/if}--></td>
									<td class="tc">
										<a href="/user?action=modifyAction&id=<!--{$item.id}-->">
											<img src="/resources/images/admin/edit.gif" title="编辑"/>
										</a>
										<a href="/user?action=delAction&id=<!--{$item.id}-->" onclick="if(!confirm('确认删除账号“<!--{$item.name}-->?”'))return false;">
											<img src="/resources/images/admin/delete.gif" title="删除"/>
										</a>
									</td>
									<!--{/if}-->
								</tr>
								<!--{/foreach}-->
							<!--{else}-->
								<tr>
									<td colspan="9" class="tc">未找到内容</td>
								</tr>
							<!--{/if}-->
						</tbody>
					</table>
				</div>
				<div id="page">
					<!--{include file='page.tpl'}-->
				</div>
			</div>
			
			
			
		</div>
	</div>
<!-- content end -->
