<!-- content start -->
<div id="wrapper">
	<div id="content">
		<div class="clearfix">
			<h1>
			编辑分类
			<!--{foreach key=key item=item from=$assign.pageTitle}-->
			&nbsp;&nbsp;>&nbsp;&nbsp;<a href="/category?parentid=<!--{$item.id}-->"><!--{$item.name}--></a>
			<!--{/foreach}-->
			<!--{if $assign.page.name}-->
			&nbsp;&nbsp;>&nbsp;&nbsp;<!--{$assign.page.name}-->
			<!--{/if}-->
			</h1>
		</div>
		<form enctype="multipart/form-data" method="post" action="">
			<fieldset>
				<legend>分类 -- 编辑分类</legend>
				<table id="tableviewer" border="0" class="formtable">
					<tr>
						<th>父分类：</th><td><span id="category_pid"></span></td>
					</tr>
					<tr>
						<th>名称：</th><td><input type="text" name="name" value="<!--{if $assign.page.name }--><!--{$assign.page.name}--><!--{else}-->未知<!--{/if}-->"><td>
					</tr>
					<tr>
						<th>描述：</th><td><textarea name="description"><!--{$assign.page.description}--></textarea><td>
					</tr>
					<tr>
						<th>图标：</th><td><!--{if $assign.page.icon}--><img src="<!--{$assign.page.icon}-->" /><!--{/if}--><input type="file" name="icon"><td>
					</tr>
					<tr>
						<th valign="top" class="padded">状态：</th>
						<td>
							<input type="radio" name="status" value="1" id="onlineSel" <!--{if $assign.page.status == 1}-->checked="checked"<!--{/if}-->></radio>
							<label for="onlineSel">上线</label>
							&nbsp;&nbsp;
							<input type="radio" name="status" value="0" id="offlineSel" <!--{if $assign.page.status == 0}-->checked="checked"<!--{/if}-->></radio>
							<label for="offlineSel">下线</label>
						</td>
					</tr>
					<tr>
						<th valign="top" class="padded">是否有子分类：</th>
						<td>
							<input type="radio" name="class_type" value="1" id="onlineSel" <!--{if $assign.page.class_type == 1}-->checked="checked"<!--{/if}-->></radio>
							<label for="onlineSel">是</label>
							&nbsp;&nbsp;
							<input type="radio" name="class_type" value="2" id="offlineSel" <!--{if $assign.page.class_type == 2}-->checked="checked"<!--{/if}-->></radio>
							<label for="offlineSel">否</label>
						</td>
					</tr>
					<tr>
						<th>推荐商品：</th><td><textarea name="recommend_product_ids"><!--{$assign.page.recommend_product_ids}--></textarea><td>
					</tr>
					<tr><td colspan="2"><input type="submit" value="编辑分类"><input type="hidden" name="isCategorySubmit" value="1"></td></tr>
				</table>
				<input type="hidden" name="pidd" id="pidd" value="<!--{$assign.page.pid}-->" />
			</fieldset>
		</form>
	</div>
</div>
<!-- content end -->
<script language="javascript">
	window.onload = function(){
		getCurrentCatelist();
	}
</script>
